*{margin: 0;
  pading: 0; 
}
.cabecalho{background-color: rgb(2, 3, 3);
    color: aliceblue;
display: flex;
justify-content: space-around;
padding: 22px 0;}
.cabecalho-imagem{width: 15%;}

h1{
margin: 0 32px;
padding: 24px 0;
    display: inline-block;
font-size: 30px;}
li
{
    margin: 0 16px;
    padding: 24px 0;
font-size: 22px;}

.escola-imagem{
    width: 120%;}

    .escola
    {background-image: linear-gradient(red,white);
    display: flex;
    justify-content: flex-start;
align-items:center;
padding: 10px 0;} 

    .aluno-um{
        width: 30%;

    }

    .estudante-titulo
    {
        text-align: 50px 0;
        font-size: 40px;
    }

    

    
    
    
